{% extends "common/templates/layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Sign In
{% endblock %}
 
{% block content %}

<main id="content" role="main">

  {% include "common/templates/includes/phase.njk" %}

  {% include "common/templates/includes/back.njk" %}

  {% import "common/templates/includes/macros.njk" as m %}

	{% if errors %}
		{% include "common/templates/includes/errors.njk" %}
	{% endif %}

  <div class="grid-row">

   <div class="column-two-thirds column">
    <!--<div class="govuk-grid-column-full">-->
      <header>
        <h1 class="heading-large">
           Sign Up
           <span class="heading-secondary">Enter registration details below</span>
        </h1>
      </header>
    <!--</div>-->
    
      <form action="/user/register" autocomplete="false" class="form-group" method="post" role="form" style="margin-top:20px">                    <input type="password" style="visibility: hidden" />
        <div class="form-group {{ m.form_group_class('register', errors) }}">

          <label class="form-label" for="userFname">First Name</label>
          {{ m.error_message('userfname', errors) }}
          <span class="form-hint">
            Enter your First name
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="userFname" 
            data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="form-control" 
            data-val="true" data-val-required="The first name field is  required." id="userFname" name="userFname" style="width:100%" type="text" value="" />
           <label class="form-label" for="user-id">Last Name</label>
            {{ m.error_message('userlname', errors) }}
          <span class="form-hint">
            Enter your Last name
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="userLname" 
            data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="form-control" 
            data-val="true" data-val-required="The first name field is  required." id="userLname" name="userLname" style="width:100%" type="text" value="" />

          <label class="form-label" for="userId">Email Id</label>
          {{ m.error_message('userId', errors) }}
          <span class="form-hint">
            Enter the email address
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="userId" 
            data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="form-control" 
            data-val="true" data-val-required="The e-mail address field is  required." id="userId" name="userId" style="width:100%" type="text" value="" />

          <label class="form-label" for="password">Password</label>
          {{ m.error_message('passwd', errors) }}
          <span class="form-hint">
            Enter your password
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="Password" 
          data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="form-control" data-val="true" 
          data-val-required="The Password field is required." id="password" name="Password" style="width:100%" type="password" />
        </div>
        <div class="form-group">
          <input id="login" class="button" type="submit" value="Sign in" onclick="sendAnalytics(event, 'Sign Up - submit', 'click')">
        </div>
        <h2> Problems signing in </2>
        <p>
            <a href="/submit-a-general-aviation-report/Account/Forgot" onclick="sendAnalytics(event, &#39;Forgotten password&#39;, &#39;click&#39;)" target="_self">Forgotten password</a>
        </p>
      </form>
      <p class="heading-small">
        <a href="/submit-a-general-aviation-report/Account/PreRegister" onclick="sendAnalytics(event, &#39;Register for a new account&#39;, &#39;click&#39;)" target="_self">Register for a new account</a>
      </p>
    </div>
</main>
{% endblock %}