{% extends "common/templates/layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

 
{% block content %}

<main id="content" role="main">
  <header class="">
  <h1 class="header-row heading-large ">
    Submit a General Aviation Report (GAR)
  </h1>
  </header>

  <div>
    If you are a General Aviation pilot, owner or operator, you may need to report your journey to the 
    Police and Border Force. Your GAR data should match the flight-plan for this journey, when a 
    flight-plan is required.
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
          <span class="heading-medium" >Use this service to:</span>
          <ul class="list list-bullet text" >
            <li>submit a GAR</li>
            <li>view, edit or cancel a GAR</li>
            <li>add, manage or remove people on your flight</li>
          </ul>
    </div>

    <div class="column-one-thirds"
        <aside class="govuk-related-items" role="complementary">
          <span class="heading-medium" >Guidance</span>
          <nav role="navigation">
            <ul class="list sidebar">
              <li><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/412944/GAR_Instructions_March_2015.pdf">General aviation report guidance(GAR)</a></li>
              <li><a href="https://www.gov.uk/government/publications/general-aviation-operators-and-pilots-notification-of-flights">Border Force Guidance</a></li>
              <!-- TODO: Update the 'Check if you need to submit a GAR' link when it is available -->
              <li><a href="https://www.gov.uk">Check if you need to submit a GAR</a></li>
              <li><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/408958/6_478_Aviation_poster.pdf">Emergency (GAR) telephone line</a></li>
            </ul>
          </nav>
        </aside>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
        <span class="heading-medium" >You will need to submit the following:</span>
        <ul class="list list-bullet text">
          <li>aircraft details (including registration number and base)</li>
          <li>arrival and departure details (date, location and scheduled times)</li>
          <li>name and telephone number of the person responsible for goods on board</li>
          <li>aircraft tax information (whether taxes have been paid and accounted for in the EU)</li>
          <li>captain, crew and passenger details (including travel documents and UK visiting address)</li>
        </ul>

    <h2 class="heading-medium">The service</h2>
        <a class="button button-start" href="/register/user" role="button">Submit a GAR</a>
    </div>

    <div class="column-two-thirds">
        <h2 class="heading-medium">Other ways to submit a GAR</h2>
        <h3>By email</h3>
      <!-- TODO: Update the GAR form link when it is available -->
        <span>Send the <a href="https://www.gov.uk">General Aviation Report form</a>, to the national co-ordination unit (NCU) to send to Border Force or the police.</span>
        <span>Use the title: &apos;GAR, airfield registration, name of airfield, airfield location (if known)&apos;.</span>
        <span>By Phone - In an emergency only</span>
        <span> +44 (0) 845 723 1110</span>
    </div>

		
  </div>
   

</main>

{% endblock %}
