{% extends "common/templates/layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Aircraft Details - {{title_suffix}}
{% endblock %}
 
{% block content %}

<main id="content" role="main">

  {% include "common/templates/includes/phase.njk" %}

  {% include "common/templates/includes/back.njk" %}

	{% if errors %}
		{% include "common/templates/includes/errors.njk" %}
	{% endif %}

  <div class="grid-row">

  <div class="column-two-thirds column">
    <div class="govuk-grid-column-full">
      <header>
        <h1 class="heading-large">
         Aircraft Details
        </h1>
      </header>
    </div>

    <div>
      <form action="/garfile/aircraft"  class="form" method="post">        

      <div class="form-group ">
          <a name="Flight_Number"></a>
          <label class="form-label" for="flight_no" >
            Flight Number (Optional)
            <span class="form-hint">
              Enter the flight number
            </span>
          </label>       
          <input class="form-control" id="flght_num" name="flightno" autocomplete="off" type="text" value="" required="true"/>
        </div>

        <div class="form-group {{ m.error_message('aircraftreg', errors) }} ">
          <a name="aircraftregistration"></a>
          <label class="form-label" for="aircrft-reg">Aircraft registration number
            <span class="form-hint">
              Enter the aircraft registration without hyphens or other special characters
            </span>
          </label>
          {{ m.error_message('aircraft', errors) }}
          <input autocomplete="off" class="form-control"  required="true" id="aircraft-reg" name="regno"  type="text" value="" />
        </div>
        
        <div class="form-group {{ m.error_message('aircrafttype', errors) }} ">
          <a name="aircrafttype"></a>
          <label class="form-label" for="aircraft-type">
            Aircraft type
            <span class="form-hint">
              Enter the aircraft type
            </span>
          </label>       
           {{ m.error_message('aircrafttype', errors) }}
          <input autocomplete="off" class="form-control" required="true" id="aircraft-type" name="type" type="text" value="" />
        </div>  

    </div>

     <div class="form-group">
	  		<input type="submit" class="button" value="Save">
        <input type="submit" class="button" value="Save and Continue">
        <input type="submit" class="button" value="Cancel">
		</div>

    </form>
  </div>
</main>
{% endblock %}